body {
  background-color: #2C2F33;
}

#wrapper {
  position: relative;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  text-align: center;
}

.rack {
  display: grid;
  grid-template-columns: repeat(7, auto);
  background-color: #23272A;
  padding: 10px;
  width: min-content;
  margin: 50px auto;
}

.rack > .empty {
  background-color: #FFFFFF;
}

.tile {
  position: relative;
  background-color: #99AAB5;
  width: 100%;
  height: 100%;
}

.chosen > .tile, .pending > .tile {
  opacity: 0.5;
}

.tile > .letter {
  font-size: 28px;
}

.tile > .points {
  position: absolute;
  right: 3px;
  bottom: 0px;
  font-size: 16px;
}

.board {
  display: grid;
  grid-template-columns: repeat(15, auto);
  background-color: #23272A;
  padding: 10px;
}

.board > div, .rack > div {
  border: 1px solid #23272A;
  font-size: 21px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.board > .empty {
  background-color: #FFFFFF;
}

.board > .premium-letter-2 {
  background-color: #7289DA;
}

.board > .premium-letter-3 {
  background-color: rgb(46, 83, 216);
}

.board > .premium-word-2 {
  background-color: rgb(209, 114, 218);
}

.board > .premium-word-3 {
  background-color: rgb(211, 58, 78);
}